.square{
	padding-bottom:20%;
	background-color: red;
	margin:10px;
	width:30%;
	float:left;
	border-radius: 25px;
	transition:background 0.9s;
}
.container{
	max-width: 600px;
	margin:0 auto;
}
body{
	background-color:#232323;
	margin:0;
}
h1{
	color:white;
	text-align: center;
	font-family: 'Montserrat';
	background-color: steelblue;
	margin:0;
	padding:20px;
	font-size: 35px;
	text-transform: uppercase;
}
button{
	color:steelblue;
	font-family:'Montserrat';
	line-height: 20px;
	outline: none;
	transition: background 0.8s;
	text-align: center;
}
html{
	margin:0;
}
button:hover{
background-color: steelblue;
color:white;
}
#btn{
	text-align: center;
	background-color: white;
}
.selected{
	background-color:steelblue;
	color:white;
}
#over{
	display: inline-block;
	width:20%;
}
#write{
	font-size:50px;
}

/* -- Footer -- */

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #bebebe;
    text-align: center;
    padding: 5px 10px 5px 280px;
}

#copyright {
    color: #FFFFFF;
    font-size: 18px;
}

.fab {
    color: #FFFFFF;
    font-size: 20px;
}

.footer-social .fab:hover {
    color: #212121;
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    -ms-transition-duration: 0.6s;
    -o-transition-duration: 0.6s;
    transition-duration: 0.6s;
}

.list-inline {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.list-inline-item {
    padding: 0 10px;
}

/* media query */

@media (max-width: 760px) {
    nav {
        justify-content: stretch;
        border-bottom: 2px solid grey;
        height: 300px;
        width: 100%;
    }

    #Reference {
        border: none;
    }

    #Introduction {
        padding: 305px 35px 15px 35px;
    }

    .main-section {
        padding: 15px 35px;
    }


    footer {
        position: absolute;
  	bottom: 0;
  	width: 100%;
 	 height: 2.5rem;
    }

}
/* -- Footer End -- */
