.square{
	padding-bottom:20%;
	background-color: red;
	margin:10px;
	width:30%;
	float:left;
	border-radius: 25px;
	transition:background 0.9s;
}
.container{
	max-width: 600px;
	margin:0 auto;
}
body{
	background-color:#232323;
	margin:0;
}
h1{
	color:white;
	text-align: center;
	font-family: 'Montserrat';
	background-color: steelblue;
	margin:0;
	padding:20px;
	font-size: 35px;
	text-transform: uppercase;
}
button{
	color:steelblue;
	font-family:'Montserrat';
	line-height: 20px;
	outline: none;
	transition: background 0.8s;
	text-align: center;
}
html{
	margin:0;
}
button:hover{
background-color: steelblue;
color:white;
}
#btn{
	text-align: center;
	background-color: white;
}
.selected{
	background-color:steelblue;
	color:white;
}
#over{
	display: inline-block;
	width:20%;
}
#write{
	font-size:50px;
}

/* -- Footer -- */

footer {
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     background-color: slategray;
     color: white;
     display: flex;
     padding: 5px 10px 0px 5px;
     justify-content: space-between;
     font-family: 'Gugi';
}

#copyright {
    color: #FFFFFF;
    font-size: 18px;
}

.fab {
    color: #FFFFFF;
    font-size: 20px;
}

.footer-social .fab:hover {
    color: #212121;
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    -ms-transition-duration: 0.6s;
    -o-transition-duration: 0.6s;
    transition-duration: 0.6s;
}

.list-inline {
    list-style-type:none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;


}

.list-inline-item {
    padding: 0 10px;
}

/* -- Footer End -- */
