body {
  background-color: #232323;
  margin: 0;
}

.square {
  padding-bottom: 20%;
  background-color: red;
  margin: 10px;
  width: 30%;
  float: left;
  border-radius: 25px;
  transition: background 0.9s;
}

#container {
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  font-family: "Harmattan";
  color: white;
  text-align: center;
  background-color: steelblue;
  margin: 0;
  padding: 20px;
  font-size: 35px;
  text-transform: uppercase;
}
html {
  margin: 0;
}

#colorDisplay {
  font-size: 50px;
}

#message {
  display: inline-block;
  width: 20%;
}

#stripe {
  text-align: center;
  background-color: white;
}

.selected {
  color: white;
  background: steelblue;
}

button {
  color: steelblue;
  font-family: "Montserrat";
  line-height: 20px;
  outline: none;
  transition: background 0.8s;
  text-align: center;
}

button:hover {
  color: white;
  background: steelblue;
}

/* -- Footer -- */

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: slategray;
  color: white;
  display: flex;
  padding: 5px 10px 0px 5px;
  justify-content: space-between;
  font-family: "Gugi";
}

#copyright {
  color: #ffffff;
  font-size: 18px;
}

.fab {
  color: #ffffff;
  font-size: 20px;
}

.footer-social .fab:hover {
  color: #212121;
  -webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  -ms-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  transition-duration: 0.6s;
}

.list-inline {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.list-inline-item {
  padding: 0 10px;
}

/* -- Footer End -- */
